body{
    background-image: url(https://pics.craiyon.com/2023-11-12/tmV7PY5xTbeyxvSy-o0JCw.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
button{
    background-color: black;
    color: white;
    
}
